*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */

}
@font-face {
    font-family: 'satisfy';
    src: url(fonts/Satisfy/Satisfy-Regular.ttf);
}
@font-face {
    font-family: 'monster';
    src: url(fonts/static/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'monsterlight';
    src: url(fonts/static/Montserrat-Light.ttf);
}
#navbar{
    background-color: #FEF4F2;
}
#logo{
    font-family: 'satisfy';
    margin-left: 150px;
    font-size: 220%;
}
#navbarSupportedContent{
    margin-left: 190px;
    margin-right: auto;
    font-family: 'monster';
}
#main1{
    display: flex;
    background-color: #FEF4F2;
    max-height: 600px;
    width: 100%;
}
#main1-1{
    width: 50%;
}
#main1-1 h3{
    padding-top: 100px;
    color: #F26C4F;
    font-family: 'monsterlight';
    padding-left: 100px;
}
#main1-1 h4{
    font-family: 'monster';
    padding-left: 100px;
    padding-top: 10px;
}
#span1{
    color: black;
    font-family: 'satisfy';
    padding-left: 100px;
}
#span2{
    color: #F26C4F;
    font-family: 'satisfy';
    padding-left: 10px;
}
#main1-1 h5{
    color: black;
    font-family: 'monsterlight';
    padding-top: 10px;
    padding-left: 100px;
}
#main1-1 button{
    width: 300px;
    height: 30px;
    font-family: 'monster';
    background-color: #F26C4F;
    color: white;
    border: none;
    margin-left: 100px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.social-img{
    width: 60px;
    height: 60px;
    margin-left: 100px;
}
.social-img1{
    width: 60px;
    height: 60px;
}
#main1-2{
    width: 50%;
}    

#main1-2 img{
    width: 100%;
    padding-right: 90px;
    padding-left: auto;
}
.projects-card{
    border: 1px solid rgba(0, 0, 0, 0.151);
    width: 38%;
    height: 550px;
    min-height: 540px;
}
.images{
    width: 100%;
    height: 55%;
    /* border: 1px solid black; */
    animation-name: image;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 15s;
}
 a{
    font-family: 'monsterlight';
    text-decoration: none;
    color: black;

}
.link{
    text-decoration: none;
    display: flex;
}
.text h5{
    font-family: 'monster';
    text-decoration: none;
    color: black;
    padding-top: 13px;
    border-top: 1px solid rgba(0, 0, 0, 0.26);
    padding-left: 20px;
    padding-right: 20px;
}
.text button{
    background-color: red;
    color: white;
    width: 200px;
    height: 40px;
    border: none;
    font-size: medium;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 140px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.projects-card{
    margin-left: 30px;
    margin-bottom: 30px;
}
.images1{
    width: 100%;
    height: 55%;
    /* border: 1px solid black; */
    animation-name: image1;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 15s;
}
.images2{
    width: 100%;
    height: 55%;
    /* border: 1px solid black; */
    animation-name: image2;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 15s;
}
.images3{
    width: 100%;
    height: 55%;
    /* border: 1px solid black; */
    animation-name: image3;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 15s;
}
.images4{
    width: 100%;
    height: 55%;
    /* border: 1px solid black; */
    animation-name: image4;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 15s;
}
.images5{
    width: 100%;
    height: 55%;
    /* border: 1px solid black; */
    animation-name: image5;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 15s;
}
#main2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#project-heading{
    color: #F26C4F;
    font-family: 'monster';
    margin-top: 70px;
    margin-left: 70px;
}
#feature-work{
    color: rgba(0, 0, 0, 0.541);
    font-family: 'monster';
    margin-left: 70px;
}
#para{
    color: rgba(0, 0, 0, 0.404);
    margin-left: 70px;
    margin-bottom: 70px;
    font-family: 'monster';
}
@keyframes image1 {
    0%{
        background: url(images/baby\ care\ 1.png);
        background-size: cover;
    }
    90%{
        background: url(images/baby\ care\ 2.png);
        background-size: cover;
    }
    100%{
        background: url(images/baby\ care\ 2.png);
        background-size: cover;
    }
}
@keyframes image2 {
    0%{
        background: url(images/bakerywebsites1.png);
        background-size: cover;
    }
    90%{
        background: url(images/bakerywebsites2.png);
        background-size: cover;
    }
    100%{
        background: url(images/bakerywebsites1.png);
        background-size: cover;
    }
}
@keyframes image3 {
    0%{
        background: url(images/whatsapp\ 1.png);
        background-size: cover;
    }
    90%{
        background: url(images/whatsapp\ 2.png);
        background-size: cover;
    }
    100%{
        background: url(images/whatsapp\ 3.png);
        background-size: cover;
    }
}
@keyframes image4 {
    0%{
        background: url(images/google\ class\ room.png);
        background-size: cover;
    }
    90%{
        background: url(images/google\ class\ room.png);
        background-size: cover;
    }
    100%{
        background: url(images/google\ class\ room.png);
        background-size: cover;
    }
}
@keyframes image5 {
    0%{
        background: url(images/reg\ 1.png);
        background-size: cover;
    }
    90%{
        background: url(images/reg2.png);
        background-size: cover;
    }
    100%{
        background: url(images/reg3.png);
        background-size: cover;
    }
}
@keyframes image {
    0%{
        background: url(images/spotfinder\ 1.png);
        background-size: cover;
    }
    50%{
        background: url(images/spotfinder\ 2.png);
        background-size: cover;
    }
    100%{
        background: url(images/spot\ finder\ 3.png);
        background-size: cover;
    }
}
#main3{
    background-color: #FEF4F2;
}
.main4-card1{
    background-color: white;
    width: 90%;
    margin-left: 50px;
    margin-bottom: 30px;
}
#main3 h3{
    padding-left: 100px;
    padding-top: 60px;
    color: #F26C4F;
    font-family: 'monster';
}
#main3 h4{
    color: rgba(0, 0, 0, 0.719);
    padding-top: 30px;
    font-family: 'monster';
    padding-left: 100px;
}
#main3 p{
    color: rgba(0, 0, 0, 0.671);
    font-family: 'monster';
    padding-left: 100px;
    margin-bottom: 40px;
}
#main4{
    display: flex;
    flex-wrap: wrap;
}
.main4-card1 img{
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 20px;
}
.main4-card1 h3{
    color: black;
    font-family: 'monster';
    padding-left: 0px;
    padding-top: 0px;
    margin-left: -60px;
    margin-top: -50px;
} 
.main4-card1 h6{
    color: rgba(0, 0, 0, 0.616);
    /* padding-left: 20px; */
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
}
#skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.html{
    width: 30%;
    /* border: 1px solid black; */
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-left: 30px;
    margin-bottom: 30px;
}
.css{
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-left: 30px;
    margin-bottom: 30px;
}
.bootstrap{
    width: 30%;
    /* border: 1px solid black; */
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-left: 30px;
    margin-bottom: 30px;
}
.github{
    width: 30%;
    /* border: 1px solid black; */
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-left: 30px;
    margin-bottom: 30px;
}
.html img{
    width: 70%;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 60px;
}
.css img{
    width: 70%;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 60px;
}
.bootstrap img{
    width: 70%;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 60px;
}
.github img{
    width: 70%;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 60px;
}
#main5 h3{
    color: #F26C4F;
    font-family: 'monster';
    padding-left: 50px;
    padding-top: 60px;
}
#main5 h2{
    color: black;
    font-family: 'monster';
    padding-left: 50px;

}
#main5 h6{
    color: black;
    font-family: 'monster';
    padding-left: 50px;
    padding-top: 60px;
    /* border: 1px solid black; */
    margin-top: -50px;
}
#main6{
    background-color: #FEF4F2;
    width: 90%;


}
#main6 h1{
    font-family: 'monster';
    text-align: center;
    margin-top: 50px;
}
#main6 h4{
    font-family: 'monster';
    text-align: center;
    margin-top: 20px;
}
#main6 button{
    background-color: #F26C4F;
    border: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 310px;
    font-family: 'monster';
    height: 40px;
}
.heading3{
    font-family: 'monster';
    margin-left: 80px;
    margin-top: 150px;
    padding-left: 0px;
    width: 70%;
    text-align: left;
    color: #F26C4F;
    /* border: 1px solid black; */
}
.heading4{
    font-family: 'monster';
    margin-left: 80px;
    margin-top: 60px;
    padding-left: 0px;
    width: 70%;
    text-align: left;
    /* border: 1px solid black; */
    font-weight: bold;
}
#main7{
    background-color: #FEF4F2;
    width: 100%;
    margin-top: 100px;

}
#about{
    display: flex;
    width: 100%;
    background-color: #FEF4F2;
}
#about-1{
    width: 50%;
    /* border: 1px solid black; */
}
#about-1 h2{
    padding-left: 50px;
    padding-right: 40px;
    font-family: 'monster';
    margin-top: 50px;
    font-size: large;
}
#footer{
    background-color: #071822;
    padding-top: 50px;
    /* padding-bottom: 50px; */
    margin-bottom: 0px;
}
#footer h4{
    color: white;
    font-family: 'monster';
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: medium;
}
#footer-image{
    width: 80px;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}
#footer a{
    text-decoration: none;
}
#footer a:hover{
    text-decoration: underline wheat;
}
.social-img2{
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
@media screen and (max-width: 992px) {
    #logo{
        margin-left: 30px;
    }
    #main1-1 h3{
        padding: 0;
        margin: 0;
        padding-left: 30px;
        padding-top: 50px;
    }
    #main1-1 h4{
        padding: 0;
        margin: 0;
        padding-left: 30px;
        padding-top: 10px;
    }
    #main1-1 #span1{
        padding: 0;
        margin: 0;
        padding-left: 30px;
        padding-top: 10px;
    }
    #main1-1 h5{
        padding: 0;
        margin: 0;
        padding-left: 30px;
        padding-top: 10px;
    }
    #main1-1 button{
        padding: 0;
        margin: 0;
        margin-left: 30px;
        margin-top: 20px;
    }
    .social-img{
        margin-left: 30px;
    }
    #main1-2 img{
        padding: 0;
        margin: 0;
        margin-top: 60px;
        margin-bottom: 0px;
        width: 100%;
    }
    .projects-card{
        height: 550px;
        width: 90%;
        border: 1px solid rgba(0, 0, 0, 0.151);
        overflow-y: hidden;
    }
    .text h5{
        padding-top: 30px;
    }
    .main4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
    .main4-card1{
        width: 90%;
        margin-left: 30px;
    }
    #about{
        flex-direction: column;
    }
    #about-1{
        width: 100%;
    }
    #about-2{
        width: 100%;
        margin-top: 50px;
        /* margin-left: 80px; */
        margin-bottom: 30px;
    }
    #main7{
        width: 100%;
        padding-right: 0px;
    }
    #about{
        width: 100%;
    }
    #about-2 img{
        margin-left: 40px;
    }
    .footer{
        flex-wrap: wrap !important;
        width: 100% !important;
        border: 1px solid white;
        align-items: center;
    }
    #f1{
        width: 60% !important;
    }

}
@media screen and (max-width: 555px) {
    #project-heading{
        margin-top: 250px !important;
        margin-left: 10px;
    }
    #feature-work{
        margin-left: 10px;
    }
    #para{
        margin-left: 10px;
    }
    .images{
        background-size: contain;
    }
    .projects-card{
        height: 680px;
    }
    .main4-card1{
        margin-left: 20px;
    }
    #main3 h3{
        margin-left: 0px;
        padding-left: 20px;
    }
    #main3 h4{
        padding-left: 20px;
    }
    #main3 p{
        padding-left: 20px;
        margin-bottom: 30px;
    }
    .footer{
        width: 100%;
    }
    #f1{
        width: 80% !important;
        border: 1px solid white !important;
    }
}

@media screen and (max-width: 768px) {
    #logo{
        margin-left: 30px;
    }
    #main1{
        display: flex;
        flex-direction: column;
        height: 956px;
    }
    #main1-2{
        width: 100%;
        background-color: #FEF4F2;
        padding: 0;
        margin: 0;
    }
    #main1-1{
        width: 100%;
    }
    #main1-2 img{
        padding: 0;
        margin: 0;
       width: 70%;
       padding-top: 190px;
       margin-bottom: 0px;
    margin-left: 70px;
       padding-bottom: 50px;
    }
    #project-heading{
        margin-top: 600px;
    }
    .projects-card{
        width: 100%;
        min-height: 540px;
        margin-left: 0;
        padding-left: 0;
        background-size: cover;
    }
    .images{
        width: 100%;
        margin-left: 0px;
        padding-left: 0px;
    }
    #maiin7{
        width: 100%;
    }
    #about-2 img{
        padding-left: 0px !important;
        /* border: 1px solid black !important; */
        margin-left: 0px !important;
    }
}

@media screen and (max-width: 576px){
    #main1{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    #main1-2{
        /* border: 1px solid black; */
        padding-top: 0px;
        margin-top: 0px;
    }
    #main1-2 img{
        margin-top: 0px;
        padding-top: 40px;
       
    }
    .html{
        width: 30%;
        /* border: 1px solid black; */
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .css{
        width: 30%;
        /* border: 1px solid black; */
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .bootstrap{
        width: 30%;
        /* border: 1px solid black; */
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .github{
        width: 30%;
        /* border: 1px solid black; */
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .html img{
        width: 70%;
        margin-bottom: 30px;
        margin-top: 30px;
        margin-left: 20px;
    }
    .css img{
        width: 70%;
        margin-bottom: 30px;
        margin-top: 30px;
        margin-left: 20px;
    }
    .bootstrap img{
        width: 70%;
        margin-bottom: 30px;
        margin-top: 30px;
        margin-left: 20px;
    }
    .github img{
        width: 70%;
        margin-bottom: 30px;
        margin-top: 30px;
        margin-left: 20px;
    }
    #about-2 img{
        margin-left:  60px !important;
        width: 100% !important;
        padding-right: 0px;

    }
}

.row{
    display: flex;
    justify-content: space-between;
    background-color: #071B22;
    margin: 0;
    padding: 0;
    width: 100%;
}

.footer-col{
    margin-left: 10px;
    /* margin-right: 10px; */
    width: 25%;
    padding-right: 0px;
    padding-top: 100px;
}
.footer-col{
    width: 25%;
    padding-right: 0px;
}
#f1{
    width: 25%;
}
#f1 h1{
    color: white;
    font-family: 'satisfy';
}
#f1 h5{
    color: whitesmoke;
    font-family: 'monsterlight';
}
#name{
    background-color: white;
    border: none;
    outline: none;
    margin-bottom: 20px;
    width: 250px;
    height: 40px;
    padding-left: 20px;
}
#email{
        background-color: white;
        border: none;
        outline: none;
        margin-bottom: 20px;
        width: 250px;
        height: 40px;
    padding-left: 20px;
}
#input::placeholder{
    color: black;
    font-weight: 900;
    font-family: 'monster';
    margin-left: 30px;
}
#f1 button{
    width: 170px;
    height: 40px;
    background-color: #F26C4F;
    color: white;
    border-radius: 20px;
    font-size: large;
}

@media  screen and (min-width: 10px) and (max-width: 600px) {
    #about-2 img{
        margin-left: 0px !important;

    }
}